In [1]:
# Restaurant rating prdiction using Yelp API

In [2]:
import pandas as pd 
import requests
import csv
from bs4 import BeautifulSoup
import json
import time
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Data acquisition- Yelp API

In [4]:
# # Yelp API endpoint
# url = "https://api.yelp.com/v3/businesses/search"

# # Set your Yelp API key here
# api_key = "ZD6mo9uhBu1r47JiATdVhe6sJs2_hPLki2IH6v9YzKpPLHqOMuebguyIn64ZmvvRqndrchjhh5iYCTaBtVYiZQv1ph8qBJoi-iW55MMLd9_4n3RhHpWFIklcpWlmZHYx"
# businesses = []
# # Parameters for the search
# for city in ['NYC','San Francisco','Los Angeles']:
#   for num in range(1,5):
#     time.sleep(2)
#     params = {
#         "location": city,  # Example: Search businesses in San Francisco
#         "limit": 19,  # Number of results per request
#         "offset": 0 , # Starting offset for pagination
#         "price": str(num)
#     }

#     # Number of businesses to retrieve
#     desired_count =  len(businesses)+950
#     while len(businesses) < desired_count:
#         print(len(businesses))
#         # Make a request to the Yelp API
#         headers = {"Authorization": f"Bearer {api_key}"}
#         response = requests.get(url, headers=headers, params=params)
#         data = response.json()
#         # print(data)
#         # Extract business details from the response
#         x = len(businesses)
#         for business in data["businesses"]:
#             print(business)
#             transactions = business.get("transactions", [])
#             delivery = 1 if "delivery" in transactions else 0
#             pickup = 1 if "pickup" in transactions else 0       
#             business_details = {
#                 "id":business["id"],
#                 "name": business["name"],
#                 "zipcode": business["location"]["zip_code"],
#                 "categories": ", ".join(category["title"] for category in business["categories"]),
#                 "pickup": pickup,
#                 "delivery": delivery,
#                 "price_range": business.get("price", ""),
#                 "rating": business.get("rating", "")
#             }
#             businesses.append(business_details)
#             # print(businesses)  
#         # Update the offset for the next request
#         if  x == len(businesses):
#             break
#         params["offset"] += params["limit"]

In [5]:
# # Yelp API endpoint
# url = "https://api.yelp.com/v3/businesses/search"

# # Set your Yelp API key here
# api_key = "X5pBAYJoNxvYnbcJycQzc0RGJiDOQZ6s9ZeZn6TtvjzFJRXrLVy7vOQOCTI5F7Cs77-09QXCBdZ1eU8UvzTK4wROKCnJPwK5rqviSrOjlbfTiG-1E0ZsrzdDkDNmZHYx"
# # businesses = []
# # Parameters for the search
# #'NYC','San Francisco','Los Angeles']:

# params = {
#     "location": 'Los Angeles',  # Example: Search businesses in San Francisco
#     "limit": 19,  # Number of results per request
#     "offset": 0 , # Starting offset for pagination
#     "price": '4'
# }

# # Number of businesses to retrieve
# desired_count =  len(businesses)+950
# while len(businesses) < desired_count:
#     print(len(businesses))
#     # Make a request to the Yelp API
#     headers = {"Authorization": f"Bearer {api_key}"}
#     response = requests.get(url, headers=headers, params=params)
#     data = response.json()
#     print(data)
#     # Extract business details from the response
#     x = len(businesses)
#     for business in data["businesses"]:
#         print(business)
#         transactions = business.get("transactions", [])
#         delivery = 1 if "delivery" in transactions else 0
#         pickup = 1 if "pickup" in transactions else 0       
#         business_details = {
#             "id":business["id"],
#             "name": business["name"],
#             "zipcode": business["location"]["zip_code"],
#             "categories": ", ".join(category["title"] for category in business["categories"]),
#             "pickup": pickup,
#             "delivery": delivery,
#             "price_range": business.get("price", ""),
#             "rating": business.get("rating", "")
#         }
#         businesses.append(business_details)
#         # print(businesses)  
#     # Update the offset for the next request
#     # if  x == len(businesses):
#     #     break
#     params["offset"] += params["limit"]
#     print("************************")
#     print(params["offset"])

In [6]:
# # Save the retrieved businesses to a CSV file
# filename = "data.csv"
# fields = ["id","name", "zipcode",  "categories", "pickup", "delivery", "price_range", "rating"]

# with open(filename, mode="w", newline="") as file:
#     writer = csv.DictWriter(file, fieldnames=fields)
#     writer.writeheader()
#     writer.writerows(businesses[:])  # Write the desired number of businesses

# print(f"Business details saved to {filename}!")

In [7]:
## created DF 
df = pd.read_csv(r"C:\Users\HP\Downloads\data.csv")
df.head()

,id,name,zipcode,categories,pickup,delivery,price_range,rating
0,zj8Lq1T8KIC5zwFief15jg,Prince Street Pizza,10012.0,"pizza, italian",1,1,$,4.5
1,j1S3NUrkB3BVT49n_e76NQ,Best Bagel & Coffee,10001.0,"bagels, coffee & tea, breakfast & brunch",1,1,$,4.5
2,SULHf6nGQ8sK0UpG1XU30w,Los Tacos No.1,10036.0,tacos,0,1,$,4.5
3,v1DHGRNCH9247WLYoaoA9A,L'industrie Pizzeria,11211.0,pizza,0,1,$,4.5
4,vk7W3_sQwr7eZbRFsXv6rw,Taiyaki NYC,10013.0,"desserts, japanese, ice cream & frozen yogurt",0,1,$,4.5

In [8]:
###Data Analysis
#We want to understand which variables are important, view summary statistics, and visualize the data.

In [ ]:
df.shape

(7785, 8)

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
## Explaining each feauture and its input 
## id - not need
## name - 
## zipcode - 
## categories - i want to split categories to col because to 1 or 0 in the category spesific and that to get more activity ..
## pickup - 
## delivery - 
## price_range - i want to convert $ to numbers beacse שאפשר לחזות 
## rating -

In [ ]:
## convert $ to number
for index, value in df['price_range'].iteritems():
    string_value = str(value)
    length = len(string_value)
    df.at[index, 'price_range'] = length
df.head()

In [ ]:
##split categories
##עשיתי את השורה הזאת כבר אך לא יכול להחזיר את זה לאותיות גדולות כמו שקיבלתי כי אז אצטרך להוציא שוב וזה יקח המון זמן
df['categories'] = df['categories'].apply(lambda x: x.lower())
categories = ['American', 'Italian', 'Asia', 'breakfast', 'bar', 'others']
df[categories] = 0

category_lists = {
    'American': ['american', 'steakhouse', 'chicken', 'burger', 'hamburger', 'steak', 'fast food', 'donuts'],
    'Asia': ['dim sum', 'sushi', 'japanese', 'chinese', 'thai', 'viet', 'vietnamese', 'taiwanese', 'noodles', 'ramen', 'curry', 'malaysian', 'cambodian'],
    'bar': ['bar', 'pub', 'cocktails', 'drinks', 'party', 'club'],
    'breakfast': ['brunch', 'coffee', 'bagel', 'breakfast', 'tea', 'sandwich', 'bakeries', 'delis'],
    'Italian': ['italian', 'pizza', 'pasta', 'gelato']
}

for index, category in df['categories'].iteritems():
    found_category = False
    for cat, cat_list in category_lists.items():
        if any(x in category for x in cat_list):
            df.at[index, cat] = 1
            found_category = True
    if not found_category:
        df.at[index, 'others'] = 1
df.head()

In [ ]:
#remove the coloms the i dont need to לחזות
df = df.drop(['categories','id' ,'zipcode' ], axis=1)
df.head()

In [ ]:
desired_order = [ 'name', 'Italian', 'breakfast', 'Asia', 'American', 'bar', 'others',
                 'pickup', 'delivery', 'price_range', 'rating']

# Reindex the DataFrame with the desired column order
df = df.reindex(columns=desired_order)
df.head()

In [ ]:
df.tail()

In [ ]:
#Check how many values are null in each column
df[df.columns[:]].isnull().sum()

In [ ]:
df.describe()

In [ ]:
# Calculating the number of restaurants for each rating
rating_counts = df['rating'].value_counts().reset_index()
rating_counts.columns = ['Rating', 'Number_of_Restaurants']
print(rating_counts)

In [ ]:
# Checking how many resturant rating are above 4 and 3.5
print(df[df['rating']>4].shape[0])
print(df[df['rating']>3.5].shape[0])

In [ ]:
#plotting a graph of how many resturants got what category.
plt.rcParams['figure.figsize'] = (18, 9)
categories = ['American', 'Italian', 'Asia', 'breakfast', 'bar', 'others']
counts = [df[category].sum() for category in categories]
rating_counts = pd.DataFrame({'Category': categories, 'Number_of_Restaurants': counts})
rating_counts.plot(x='Category', y='Number_of_Restaurants', kind='bar')
plt.xlabel('Category')
plt.ylabel('Count of Restaurants')
plt.title('Count of Restaurants by Category')
plt.show()

In [ ]:
outliers = df
for column in df.columns:
    if pd.api.types.is_numeric_dtype(df[column]):
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers[column] = df[(df[column] < lower_bound) | (df[column] > upper_bound)][column]
outliers.plot()

In [ ]:
## cleaning the data with explanation and explaining the data that you kept 
## Also data analysis (things thats you see that might affect)
## point out how many of each resteraunts

In [ ]:
### prediction
### frist try to do dummy predicition 
### then use linear regression (There are a few different ones, USE LINEAR REGRESSION)
### remember to split your data

In [ ]:
### add at the end confusion matrix

In [ ]:
### conclusion